adal==1.2.7
appdirs==1.4.4
azure-common==1.1.28
azure-core==1.22.1
azure-identity==1.7.1
azure-mgmt-compute==25.0.0
azure-mgmt-core==1.3.0
boto3==1.20.52
botocore==1.23.52
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
cryptography==36.0.1
decorator==5.1.1
dogpile.cache==1.1.5
google-api-core==2.5.0
google-api-python-client==2.37.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
httplib2==0.20.4
hupper==1.10.3
idna==3.3
iso8601==1.0.2
isodate==0.6.1
Jinja2==3.0.3
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.2
keystoneauth1==4.4.0
MarkupSafe==2.0.1
msal==1.16.0
msal-extensions==0.3.1
msrest==0.6.21
msrestazure==0.6.4
munch==2.5.0
netifaces==0.11.0
oauth2client==4.1.3
oauthlib==3.2.0
openstacksdk==0.61.0
os-service-types==1.7.0
PasteDeploy==2.1.1
pbr==5.8.1
plaster==1.0
plaster-pastedeploy==0.7
portalocker==2.3.2
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyJWT==2.3.0
pyparsing==3.0.7
pyramid==2.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
requestsexceptions==1.4.0
rsa==4.8
s3transfer==0.5.1
six==1.16.0
stevedore==3.5.0
timeago==1.0.15
translationstring==1.4
uritemplate==4.1.1
urllib3==1.26.8
venusian==3.0.0
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.4.0
