apache-libcloud==3.9.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
idna==3.14
pycparser==3.0
python-dateutil==2.9.0.post0
pytz==2026.2
PyYAML==6.0.3
requests==2.34.0
six==1.17.0
urllib3==2.7.0
